<%
page.layout = "tags"
page.title = theme.tag.title || __('tag.title')
page.subtitle = theme.tag.subtitle || __('tag.subtitle')
page.banner_img = theme.tag.banner_img
page.banner_img_height = theme.tag.banner_img_height
page.banner_mask_alpha = theme.tag.banner_mask_alpha

var min_font = theme.tag.tagcloud.min_font || 15
var max_font = theme.tag.tagcloud.max_font || 30
var unit = theme.tag.tagcloud.unit || 'px'
var start_color = theme.tag.tagcloud.start_color || '#BBBBEE'
var end_color = theme.tag.tagcloud.end_color || '#337ab7'

function hash(text) {
    var hash = 0, i, chr
    if (text.length === 0) return hash
    for (i = 0; i < text.length; i++) {
        chr = text.charCodeAt(i)
        hash = ((hash << 5) - hash) + chr
        hash |= 0
    }
    return hash
}
page.banner_group = page.banner_group || theme.tag.banner_group || theme.index.banner_group
if (Array.isArray(page.banner_group) && page.banner_group.length) {
    var index = Math.abs(hash(page.subtitle || page.title)) % page.banner_group.length
    page.banner_img = page.banner_group[index].img || page.banner_img
    page.banner_text = page.banner_group[index].text || page.subtitle || page.title
    page.banner_img_height = parseFloat(page.banner_group[index].height || 50)
    page.banner_mask_alpha = parseFloat(page.banner_group[index].mask_alpha || 0)
}
%>

<div class="text-center tagcloud">
  <%- tagcloud({
    min_font: min_font,
    max_font: max_font,
    amount: 999,
    unit: unit,
    color: true,
    start_color,
    end_color
  }) %>
</div>
